# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# PyCharm
.idea/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging (这些是标准的Python忽略，保留它们)
.Python
build/
# ... (其他标准Python忽略条目) ...
MANIFEST

# 忽略所有 .tar.gz 压缩包 (如果你有其他需要提交的.tar.gz则移除此行)
*.tar.gz
*.jpg
# 忽略所有 .pth 模型权重文件 (这是处理你的第4点和第6点需求)
# 这会忽略所有 .pth 文件，包括你提到的那两个
*.pth
alexnet_flowers_best_feature_extract.pth
# 下面这些规则用来忽略指定文件夹内的所有内容，
# 但我们稍后会通过在这些文件夹内添加 .gitkeep 文件来保留目录结构。
# 所以，如果这些文件夹本身不应被忽略，而是其内容应被忽略，
# 确保这些文件夹名本身没有出现在这里。
# 例如，不要写 CNN(...)/AlexNet/data/dataset/ 这一行，除非你想忽略整个文件夹及其.gitkeep